<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add 
            id="Bw_AccuWeather::grid" 
            title="AccuWeather" 
            module="Bw_AccuWeather" 
            sortOrder="51" 
            resource="Bw_AccuWeather::grid"
            action="accuweather2/grid"
        />
    </menu>
</config>
