<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="accuweather_grid_listing_data_source" xsi:type="string">Bw\AccuWeather\Model\ResourceModel\AccuWeather\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Bw\AccuWeather\Model\ResourceModel\AccuWeather\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">bw_accuweather</argument>
            <argument name="resourceModel" xsi:type="string">Bw\AccuWeather\Model\ResourceModel\AccuWeather</argument>
        </arguments>
    </virtualType>
</config>
